.App {
  text-align: center;
}
h1{
  color: rgb(0, 88, 59);
}
.Counter{
  text-align: center;
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0, 88, 59);
}
h4{
  font-size: 20px;
}

button{
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(0, 88, 59);
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  
}







